mat-toolbar.header-toolbar {
    z-index: 999;
    position: fixed;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

mat-toolbar.footer-toolbar {
    padding-left: 20px;
}

.active-link {
    background: rgba(44, 44, 44, 0.04);
}

.mn-announcements {
    background-color: white;
    border-radius: 6px;
    height: 50px;
    align-self: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #039eba;
    width: 40vw;
    font-size: 18px;
}

img.announcement-img {
    width: 60px;
    align-self: center;
    z-index: 9;
    margin-right: -35px;
}

.mr-5 {
    margin-right: 3rem!important;
}