<h1 mat-dialog-title>Change Password</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="changePasswordForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password*</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm password*</mat-label>
            <input matInput type="password" formControlName="repassword" placeholder="Confirm password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" *ngIf="isChanging"></mat-spinner>
    <button mat-raised-button *ngIf="!isChanging" color="warn" mat-dialog-close [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="!isChanging" mat-raised-button color="primary" (click)="changePassword()">Change</button>
</mat-dialog-actions>