<h1 mat-dialog-title>Enter registered email to send new password</h1>
<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Registered email*</mat-label>
        <input matInput type="text" [formControl]="email" placeholder="eg: user@email.com">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" *ngIf="isProcessing"></mat-spinner>
    <button mat-raised-button *ngIf="!isProcessing" color="warn" mat-dialog-close [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="!isProcessing" mat-raised-button color="primary" (click)="forgot()">Send</button>
</mat-dialog-actions>